@import "fonts.scss";

html,
body {
  height: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}

.postDivider {
  padding: 0;
}

.formContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  height: 100%;
  border-radius: 7px 7px 0px 0px;
  // background: rgba(255, 255, 255, 0.87);
  background: rgba(255, 255, 255, 0.75);
  overflow: scroll;

  form {
    display: flex;
    flex-direction: column;
    margin: 40px 0 50px 0;

    input {
      padding: 7px 15px;
      width: 337px;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 19px;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .radioCarsContainer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 367px;
      margin: 16px 0 25px 0;

      [type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      [type="radio"] + span.radioContainer {
        display: flex;
        align-items: center;
        width: 166px;
        height: 44px;
        padding: 3px 5px;
        margin-top: 9px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 26px;
        cursor: pointer;
        transition: 0.1s;
      }

      [type="radio"]:hover + span.radioContainer {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      [type="radio"]:checked + span.radioContainer {
        border: 1px solid rgba(0, 0, 0, 1);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
      }

      .radioContainer img {
        width: 68px;
        height: 37px;
        margin-right: 5px;
      }

      .radioContainerText {
        display: flex;
        flex-direction: column;
      }
    }

    .radioNumbersContainer {
      display: flex;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 19px;
      overflow: hidden;

      [type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      [type="radio"] + span.radioNumbersItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 38px;
        border-radius: 19px;
        transition: 0.1s;
        cursor: pointer;
      }

      [type="radio"]:hover + span.radioNumbersItem {
        background: rgba(0, 0, 0, 0.2);
        color: #ffffff;
      }

      [type="radio"]:checked + span.radioNumbersItem {
        background: #000000;
        color: #ffffff;
      }
    }

    .choiceDate {
      display: flex;
      justify-content: space-between;
      margin: 17px 0;

      div {
        width: 179px;

        input {
          width: 149px;
        }
      }
    }

    .checkboxContainer {
      display: flex;
      align-items: center;
      position: relative;
      height: 27px;
      padding-left: 35px;
      margin-bottom: 7px;
      cursor: pointer;
      font-family: R-regular;
      font-size: 16px;
      line-height: 19px;
      user-select: none;
    }

    .checkboxContainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border: 1px solid #959594;
      border-radius: 7px;
    }

    .checkboxContainer:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .checkboxContainer input:checked ~ .checkmark {
      background-color: #000000;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .checkboxContainer input:checked ~ .checkmark:after {
      display: block;
    }

    .checkboxContainer .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    button.sendForm {
      width: 100%;
      height: 54px;
      padding: 0;
      margin: 30px 0 0 0;
      background: #000000;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      font-family: R-bold;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      border: none;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        background: #2d2727;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.ymaps-2-1-74-balloon,
.ymaps-2-1-74-balloon_layout_normal,
.ymaps-2-1-74-balloon_to_top,
.ymaps-2-1-74-i-custom-scroll {
  display: none !important;
}

@import "mobile.scss";
